/* Sidebar - fixed full height */

.sidebar {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #0c7bc9;
    overflow-x: hidden;
    padding-top: 16px;
}

.sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #2980B9;
    display: block;
}

.sidebar a:hover {
    color: #097deb;
}

.main {
    margin-left: 160px;
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}
/* Contact Me Dropdown */

.contactDropbtn {
    background-color: #0c7bc9;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.contactDropbtn:hover, .contactDropbtn:focus {
    background-color: #2980B9;
}

.contactDropdown {
    position: relative;
    display: inline;
}

.contactDropdown-content {
    display: none;
    position: absolute;
    background-color: #0c7bc9;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.contactDropdown-content a {
    color: #0000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.contactDropdown-content a:hover {background-color: #2980B9;}

.show {display: block;}